.modal-feedback {
  &:before {
    content: "";
    background: $basic-black-color;
    height: 100%;
    opacity: 0.5;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
  }
}

.modal-feedback__wrapper {
  @include position-zero();

  position: fixed;
  overflow: hidden;
  margin: auto;
  background-color: $white-gray-color;
  z-index: 15;
  padding: 0;
  width: 698px;
  height: 415px;
}

.modal-feedback__form {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-rows:
    min-content
    min-content
    min-content
    1fr;
  column-gap: 28px;
  padding: 0 35px;
  margin: 0;
}

.modal-feedback__tittle {
  @include font-special(600);
  @include font-size(25px, 34px);

  text-align: center;
  color: $basic-gray-color;
  margin: 32px 0 43px 0;
}

.modal-feedback__list {
  @include reset-list-style();

  grid-column: 1 / 2;
  grid-row: 1 / 4;
  width: 300px;
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}

.modal-feedback__item {
  width: max-content;
}

.modal-feedback__description input {
  @include font-special(400);
  @include font-size(14px, 19px);

  color: $basic-gray-color;
  width: 300px;
  height: 50px;
  padding: 0 0 0 25px;
  border: 1px solid $basic-opacity-gray-color;

  &:invalid {
    border: 1px solid $bright-red-color;
  }

  &:required:valid {
    border: 1px solid $basic-opacity-gray-color;
  }
}

.modal-feedback__comment-wrapper {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}

.modal-feedback__comment-wrapper textarea {
  @include font-special(400);
  @include font-size(14px, 19px);

  color: $basic-gray-color;
  width: 300px;
  height: 118px;
  padding: 15px 25px 0 25px;
  border: 1px solid $basic-opacity-gray-color;
  border-radius: 0;
  resize: none;

  &:invalid {
    border: 1px solid $bright-red-color;
  }

  &:required:valid {
    border: 1px solid $basic-opacity-gray-color;
  }
}

.modal-feedback__button-message-wrapper {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  display: flex;
  justify-content: center;
  margin: 30px 0 0 0;
}

.modal-feedback__button-send-comment {
  border: none;
  width: 190px;
}

.modal-feedback__modal-close-button {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
}

.modal-feedback__modal-close-button::before,
.modal-feedback__modal-close-button::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 22px;
  height: 2px;
  background-color: $medium-gray-color;
}

.modal-feedback__modal-close-button::before {
  transform: rotate(45deg);
}

.modal-feedback__modal-close-button::after {
  transform: rotate(-45deg);
}