$basic-red-color: #D12136;
$deep-red-color: #BD0C21;
$bright-red-color: #FF0000;
$basic-black-color: #000000;
$basic-white-color: #FFFFFF;
$basic-gray-color: #48494D;
$medium-gray-color: #9F9E9E;
$bright-gray-color: #D7D9DF;
$blue-dark-black-color: #1A212F;

$basic-opacity-gray-color: rgba(72, 73, 77, 0.5);
$bright-opacity-gray-color: rgba(189, 190, 194, 0.7);
$gray-opacity-border-color: rgba(72, 73, 77, 0.2);
