.gallery {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: grid;
  padding: 17px 0 0 0;
  margin: 0 0 85px 0;
  width: 600px;
}

.gallery__frame-wrapper {
  margin: 0 0 34px 0;
  position: relative;
}

.gallery__new-model-mark {
  @include font-special(600);
  @include font-size(10px, 14px);

  position: absolute;
  width: 122px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  top: 0;
  left: 0;
  background-color: $basic-red-color;
  color: $basic-white-color;
}

.gallery__thumbnails-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallery__back-button,
.gallery__forward-button {
  border: 1px solid #D7D9DF;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery__back-button:disabled svg path,
.gallery__forward-button:disabled svg path {
  stroke: $bright-gray-color;
}

.gallery__image-thumbnails-list {
  @include reset-list-style();

  display: flex;
  flex-direction: row;
  column-gap: 25px;
}
