.page-main {
  grid-row: 2 / 3;
}

.page-main__wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content min-content;
  column-gap: 54px;
  max-width: 1215px;
  min-width: 1024px;
  margin: 0 auto;
  padding: 0 30px 0 10px;
}