.reviews-tab  {
  width: inherit;
  position: relative;
  padding: 0;
  margin: 30px 0 138px 6px;
  display: flex;
  border: none;
}

.reviews-tab__list {
  @include reset-list-style();

  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  width: inherit;
}

.reviews-tab__item {
  margin: 0;
  padding: 0;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}

.reviews-tab__name {
  @include font-special(600);
  @include font-size(20px, 27px);

  margin: 0 0 13px 0;
  padding: 0;
  color: $basic-gray-color;
  word-wrap: anywhere;
}

.reviews-tab__quality-marks-list {
  @include reset-list-style();

  margin: 0 0 12px 0;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.reviews-tab__quality-mark-item {
  @include font-size(15px, 20px);

  color: $basic-black-color;
  width: max-content;
  display: flex;
  position: relative;
  flex-direction: column;
  row-gap: 5px;
}

.reviews-tab__quality-mark {
  @include font-special(600);

  width: max-content;
  margin: 0 0 0 17px;
}

.reviews-tab__quality-mark-item--plus::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 7px;
  left: 0;
  width: 9px;
  height: 21px;
  background: url('../../../../src/img/plus.svg') no-repeat;
}

.reviews-tab__quality-mark-item--minus::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 11px;
  left: 0;
  width: 8px;
  height: 21px;
  background:url('../../../../src/img/minus.svg') no-repeat;
}

.reviews-tab__quality-mark-description {
  @include font-special(400);

  width: max-content;
  padding: 0;
  margin: 0 0 0 19px;
}

.reviews-tab__comment-wrapper {
  @include font-size(15px, 20px);

  color: $basic-black-color;
  display: flex;
  flex-direction: column;
  row-gap: 7px;
  margin: 0 0 20px 0;
}

.reviews-tab__comment-title {
  @include font-special(600);
}

.reviews-tab__comment {
  @include font-special(400);

  padding: 0;
  margin: 0;
  word-wrap: anywhere;
}

.reviews-tab__answer-wrapper {
  display: flex;
  margin: 0 0 20px 0;
}

.reviews-tab__time {
  @include font-special(400);
  @include font-size(14px, 19px);

  color: $basic-black-color;
  opacity: 0.4;
  margin: 0 45px 0 0;
}

.reviews-tab__answer-link {
  @include font-special(400);
  @include font-size(16px, 22px);

  color: $basic-red-color;
}

.reviews-tab__leave-review-link {
  position: absolute;
  top: -2px;
  left: 100%;
  width: max-content;
  letter-spacing: 0.12em;
  transform: translate(-192px, 0);
}

.reviews-tab__rating {
  display: flex;
  margin: 0 0 25px 0;
}

.reviews-tab__rating p {
  @include font-special(400);
  @include font-size(15px, 20px);

  margin: 0 0 0 8px;
  padding: 0;
  color: $basic-red-color;
}

.reviews-tab__stars {
  width: 102px;
  height: 16px;
  padding: 0 0 0 5px;
  margin: 0 20px 0 0;
}

.reviews-tab__stars::before {
  padding: 0 0 0 5px;
  width: 102px;
  background-size: 102px 16px;
}

.reviews-tab__stars span {
  width: 0;
}

.reviews-tab__stars span::before {
  width: 102px;
  background-size: 102px 16px;
  margin: 0 0 0 5px;
}