.page-header {
  background-color: $white-gray-color;
  padding: 0;
  margin: 0 0 74px 0;
  grid-row: 1 / 2;
}

.page-header__wrapper {
  display: flex;
  max-width: 1175px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  column-gap: 70px;
}

.page-header__logo-wrapper {
  width: max-content;
  padding: 0 0 0 7px;
  margin: auto 0;
}
