.page-footer {
  background-color: $white-gray-color;
  grid-row: 3 / 4;
  padding: 0;
  margin: 0;
}

.page-footer__wrapper {
  margin: 0 auto;
  min-width: 1004px;
  max-width: 1155px;
  padding: 0 10px 0 10px;
}

.page-footer__nav-list {
  @include reset-list-style();
  @include font-special(600);
  @include font-size(16px, 22px);

  margin: 0 0 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 33px;

  @media (min-width: 1175px) {
    column-gap: 59px;
  }
}

.page-footer__nav-item {
  margin: 30px 0;
}

.page-footer__nav-item a {
  color: $basic-gray-color;

  &:hover {
    opacity: 0.7;
  }
}
