.page-footer {
  background-color: $white-gray-color;
  grid-row: 3 / 4;
  padding: 0;
  margin: 0;
}

.page-footer__wrapper {
  margin: 0 auto;
  min-width: 1024px;
  max-width: 1175px;
}

.page-footer__nav-list {
  @include reset-list-style();
  @include font-special(600);
  @include font-size(16px, 22px);

  margin: 0 0 0 10px;
  display: flex;
  justify-content: space-between;
  column-gap: 39px;
  flex-wrap: wrap;
}

.page-footer__nav-item {
  margin: 34px 0;
}

.page-footer__nav-item a {
  color: $basic-gray-color;
}
